body,h1,h2,h3,h4,h5,h6{
    font-family: 'Spartan', sans-serif;
}
a{
    text-decoration: none;
}

/* header part css */
.header-section{
    background-color: #e7e6e6;
    z-index: 9999;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.header-logo {
    height: 90px;
}
.header-logo img {
    width: 100px;
    padding: 15px;
}
.header-menu{}
.header-menu ul{
    list-style: none;
    display: flex;
}
.header-menu ul li {
    position: relative;
}
.header-menu ul li a {
    color: #546270;
    font-size: 20px;
    font-weight: 500;
    padding: 0 13px;
}
.header-menu ul li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -30px;
    left: 0;
    background-color: #000;
    transition: .4s;
}
.header-menu ul li ul li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -30px;
    left: 0;
    background-color: #000;
    transition: .4s;
}
.header-menu ul li:hover::after{
    width: 100%;
}
.header-menu ul li a:hover{}
/* dropdown part css */
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul {
    position: absolute;
    width: 227px;
    height: 100px;
    top: 223%;
    left: 0;
    background: #fff;
    transition: .5s;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.header-menu ul li ul li{
    padding: none;
}
.header-menu ul li ul li a{
    color: #fff;
    background: #5a51e9;
    padding: 20px 30px;
    /* margin-top: 15px; */
    margin-right: 3px;
}

.header-btn a{
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    background: #ffffff;
    padding: 13px 17px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}
.header-btn a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #1d6df7;
    z-index: -1;
    transition: .5s;
    border-radius: 25px;
}
.header-btn a:hover {
    color: #fff;
}
.header-btn a:hover::after{
    width: 100%;
   
}

.banner-section{
    background-color: #edf6fe;
    position: relative;
  
    overflow: hidden;
}
.banner-content{
    padding: 150px 0;
}
.banner-right {
    position: absolute;
   
    top: -71px;
    right: -132px;
}
img{
    max-width: 100%;
}
.banner-right img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    
}
.banner-content a{
    background: #5252f0;
	color: #fff;
	padding: 13px 20px;
	font-size: 14px;
	border-radius: 25px;
	display: inline-block;
	margin-top: 12px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: .5s;

}
.banner-content .btn-banner:hover a{
    background-color: #fff;
    color: #5252f0;
    border: 1px solid #5252f0;
}
/* Tools part css */
.tools-section{}
.tools-content{
    width: 60%;
}
.tools-content div{
    height: 3px;
    width: 60px;
    background-color: #5a51ea;
}
.tools-content h6{
    color: #5a51ea;
}
/* product section */
.product-section{
    padding: 80px 0;
    position: relative;
    z-index: 1;
}
.div1-hiro {
    position: absolute;
    bottom: 34px;
    left: 59px;
    z-index: -1;
}
.div1{
    padding: 30px;
    border-radius: 23px;
    background: #f9fcff;
    transition: .5s;
    position: relative;
}

.div1::after {
    content: "";
    bottom: 127px;
    left: 30px;
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #5a51ea;
    transition: .5s;
}
.div1:hover::after{
    height: 4px;
    width: 70px;
    background-color: #fff;
}
.div1 span {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: #5a51ea;
    font-size: 25px;
    color: #fff;
    text-align: center;
    border-radius: 35px 35px 35px 0;
}
.div1 h4{
    font-size: 18px;
}


.div1 p{
    margin-top: 18px;
    transition: .5s;
}
.div1 h4{
    transition: .5s;
}
/* Hover part css */
.div1:hover{
    background: #5a51ea;
    transform: scale(1.05);
}
.div1:hover h4{
    color: #fff;
}
.div1:hover span{
    background: #fff;
    color: #5a51ea;
}
.div1:hover p{
    color: #fff;
}
/* banner-bottom part css */
.banner-bottom{
    background: url("https://i.ibb.co/SmbXbzL/video-bg.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}
.banner-bottom::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 19, 48, 0.63);
    z-index: -1;
}
.banner-bottom-content{
    width: 60%;
    margin: auto;
}
.banner-bottom-content span{
    height: 3px;
    width: 120px;
    background: #fff;
    display: inline-block;
}
.banner-bottom-content h3{

}
.banner-bottom-content p{
    padding: 15px 0;
}
.bottom-animation{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.bottom-animation span{
    font-size: 20px;
    height: 80px;
    width: 80px;
    color: #5a51ea;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    position: relative;
}
.bottom-animation span::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 70px;
    width: 70px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: auto;
    animation: safayet 4s ease-in-out infinite;
}
.bottom-animation span::after{
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: auto;
    animation: safayet 4s ease-in-out infinite;
}
@keyframes safayet{
    0%{
        transform: scale(1);
        opacity: .5s;
    }
    
    50%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
